
.container-alta {
    padding: 10px;

    h1{
        width: 50px;
        position: static;
        bottom: 10px;
        
    }

    h1, h2 {
        
        background-color: purple;
        color: azure;
    }

     input {
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
        background-color: purple;
        color: azure;
    }
    
    button {
        display: block;
        margin-top: 20px;
        width: 80px;
        background-color: blue;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            background-color: blueviolet;
        }

        &:disabled {
            background-color: purple;
        }
    }


    input[type="checkbox"] {
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

  
    table,th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 90%;
    }

    #listado-productos {
        width: 100%;
    }
}