.container-alta {
  padding: 10px;
}

.container-alta h1 {
  width: 50px;
  position: static;
  bottom: 10px;
}

.container-alta h1, .container-alta h2 {
  background-color: purple;
  color: azure;
}

.container-alta input {
  width: 300px;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
  background-color: purple;
  color: azure;
}

.container-alta button {
  display: block;
  margin-top: 20px;
  width: 80px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.container-alta button:hover {
  background-color: blueviolet;
}

.container-alta button:disabled {
  background-color: purple;
}

.container-alta input[type="checkbox"] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

.container-alta table, .container-alta th, .container-alta td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container-alta table {
  width: 90%;
}

.container-alta #listado-productos {
  width: 100%;
}
