body{
    background-color: mediumaquamarine;
    h1{
        color: azure;
    }
    p{
        color: azure;
    }
}
.section-cards {
    background-color: mediumaquamarine;
    color: azure;
}
.cards-container {
    color: azure;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2em;
    @media (min-width: 1200px) {
        & {
            gap: 2em
        }
    }
}
